html {
    
}

@media (max-width: 1000px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    nav a {
        border-right: none;
        display: block;
        margin: 5px 0;
    }
}

@media (min-width: 1001px) {
    nav {
        display: flex;
        flex-direction: row; 
    }
}


@media (min-width: 1001px) {
    nav {
        display: flex;
        flex-direction: row;
    }

    nav a {
        border-right: 1px solid #ccc; 
        margin: 0 5px; 
    }
}

body {
    background-image: url(images/logo/termeszetvedelem-hatter.png);
    background-size: contain;
    background-color: rgba(0, 255, 0, 8%);
}

#tartalom {
    padding: 20px;
}

#tablazat {
    width: 100%;
}

#terkep {
    max-width: 100%;
}

#noveny-allatvilag img {
    width: 150px;
}

#kiemeles {
    min-height: 300px;
    height: auto;
}

#kiemelt-kep {
    width: 300px;
    height: 300px;
    margin: 10px;
    background-size: cover;
    background-position: center;
    margin-left: 110px;
}


#kiemelt-kep img {
    height: 300px;
}

#kiemelt-nev {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

#kiemelt-leiras {
    text-align: center;
    vertical-align: top;
}

section,
article {
    overflow: auto;
    height: fit-content;
}

a{
    display: inline;
}
nav {
    width: 350px;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  nav a {
    padding: 0.9rem;
    font-weight: bold;
    font-size: 1.2rem;
    border-right: 1px solid lightgray;
    text-decoration: none; 
    color: #007bff; 

  }

  nav a:last-child {
    border-right: none; 
  }

  nav a:hover {
    color: darkblue;
    background-color: rgba(207, 207, 252, 0.5);
  }

.park-logo {
    height: 90px;
    padding: 0.8rem;
    float: left;
}

#yosemite {
    padding: 0.4rem;
    width: 350px;
    max-width: 50%;
    float: right;
}

#iucn {
    width: 70px;
    padding: 0.2rem;
    float: left;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
    border-bottom: 1px solid gray;
    margin-top: 1rem;
    padding: 0.2rem;
    background-color: rgba(123, 251, 138, 0.25);
}

h3 {
    margin-top: 0.5rem;
    padding: 0.2rem 0.2rem 0.2rem 0.5rem;
    background-color: rgba(123, 251, 138, 0.15);
}

#toTop {
    z-index: 100;
    padding: 0.3em;
    background-color: rgba(207, 207, 252, 0.5);
    font-weight: bold;
 
    float: right;
}

